* {
  margin: 0;
  padding: 0;
}

header {
  padding: 1rem;
}

#scroller {
  display: flex;
  justify-content: center;
  align-items: center;
}

#scroller-wrapper {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 2rem;
  justify-content: space-between;
  border: 2px solid black;
  width: 28rem;
}

.scroll-pony {
  max-height: 5rem;
  max-width: 9rem;
  cursor: pointer;
}

.direction-scroll {
  padding: 0.3rem;
  font-size: 1rem;
  cursor: pointer;
}

#local-ponies {
  display: grid;
  grid-template-columns: repeat(5, auto);
  gap: 1rem;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 100%;
  grid-template-rows: auto;
}
#favorite-ponies {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-left: 5%;
  margin-right: 5%;
  height: 10rem;
}

h2 {
  padding-bottom: 1rem;
}

