* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-image: url(background.png);
  background-size: cover;
}

header {
  padding: 1rem;
}

#scroller {
  display: flex;
  justify-content: center;
  align-items: center;
}

#scroller button {
  background-color: white;
}

#scroller-wrapper {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 2rem;
  justify-content: space-between;
  border: 2px solid black;
  width: fit-content;
  background-color: white;
  gap:2rem;
}

.scroll-pony {
  max-height: 5rem;
  max-width: 9rem;
  cursor: pointer;
  border: 1.5px solid black;
}

.direction-scroll {
  padding: 0.3rem;
  font-size: 1rem;
  cursor: pointer;
}

#local-ponies {
  display: grid;
  grid-template-columns: repeat(5, auto);
  gap: 1rem;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 100%;
  grid-template-rows: auto;
  border: 2px solid black;
}

#favorite-ponies {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-left: 5%;
  margin-right: 5%;
  height: 10rem;
  background-color: white;
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
}

h1 {
  /* padding-block: 5px; */
  background-color: white;
  width: fit-content;
}

h2 {
  padding-block: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal-wrapper {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow-y: auto;
}

ul {
  padding-left: 1rem;
}

#modal-content {
  background-color: white;
  margin: 7% auto;
  width: 50%;
  padding: 2rem;
  border: 0.3rem solid black;
  overflow-y: auto;
  border-radius: 2rem;
  overflow-x: auto;
}

#modal-content button {
  display: inline;
  position: relative;
  margin-left: 8cm;
}

#modal-content img {
  max-width: 9rem;
  border: 0.3rem solid black;
}

.modal-image-wrapper {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(4, auto);
  padding-top: 1rem;
  gap: 0.5rem;
}

.modal-image {
  max-width: 9rem;
  max-height: 8rem;
}
